# dependencies
backend/node_modules/
frontend/node_modules/

# env files (sensitive data)
backend/.env
backend/.env.example


playwright-automation/allure-report/
playwright-automation/allure-results/
playwright-automation/node_modules/
playwright-automation/reports/
